-
  const eventsRegistration = [
    {
      title: "Слушатель",
      icon: "useful-tab-icon-1",
      active: true,
      list: [
        {
          icon: "useful-1",
          title: "Увеличите узнаваемость компании",
          text: "За счет выступления эксперта вашей компании в роли спикера"
        },
        {
          icon: "useful-2",
          title: "Познакомитесь со своей аудиторией",
          text: "Продемонстрируйте возможности своего продукта вашей целевой аудитории"
        },
        {
          icon: "useful-3",
          title: "Познакомитесь с новыми клиентами и партнерами",
          text: "На мероприятиях у вас появится возможность встретить новых клиентов и партнеров"
        },
        {
          icon: "useful-4",
          title: "Выступите в роли эксперта своей отрасли",
          text: "Возможность участия в сессии вопрос-ответ со спикерами в режиме реального времени"
        },
        {
          icon: "useful-5",
          title: "Повысите свою известность в интернете",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
      ]
    },
    {
      title: "Докладчик",
      icon: "useful-tab-icon-2",
      list: [
        {
          icon: "useful-1",
          title: "Увеличите узнаваемость компании",
          text: "За счет выступления эксперта вашей компании в роли спикера"
        },
        {
          icon: "useful-2",
          title: "Познакомитесь со своей аудиторией",
          text: "Продемонстрируйте возможности своего продукта вашей целевой аудитории"
        },
        {
          icon: "useful-3",
          title: "Познакомитесь с новыми клиентами и партнерами",
          text: "На мероприятиях у вас появится возможность встретить новых клиентов и партнеров"
        },
        {
          icon: "useful-4",
          title: "Выступите в роли эксперта своей отрасли",
          text: "Возможность участия в сессии вопрос-ответ со спикерами в режиме реального времени"
        },
        {
          icon: "useful-5",
          title: "Повысите свою известность в интернете",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
      ]
    },
    {
      title: "Спонсор",
      icon: "useful-tab-icon-3",
      list: [
        {
          icon: "useful-1",
          title: "Увеличите узнаваемость компании",
          text: "За счет выступления эксперта вашей компании в роли спикера"
        },
        {
          icon: "useful-2",
          title: "Познакомитесь со своей аудиторией",
          text: "Продемонстрируйте возможности своего продукта вашей целевой аудитории"
        },
        {
          icon: "useful-3",
          title: "Познакомитесь с новыми клиентами и партнерами",
          text: "На мероприятиях у вас появится возможность встретить новых клиентов и партнеров"
        },
        {
          icon: "useful-4",
          title: "Выступите в роли эксперта своей отрасли",
          text: "Возможность участия в сессии вопрос-ответ со спикерами в режиме реального времени"
        },
        {
          icon: "useful-5",
          title: "Повысите свою известность в интернете",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
      ]
    },
  ]

section.events-registration.page-section
  .container-block
    h2.events-registration__title
      | РЕГИСТРАЦИЯ УЧАСТНИКОВ
    +tabs-block(eventsRegistration, true)
