main.page-main.main
  +intro-section("events-intro-1.jpg", true)
  include events-program
  include events-registration
  include ../../parts/partners
  include ../../parts/events-section

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
