@font-face {
  font-weight: 400;
  font-family: 'Intro Book';
  font-style: normal;
  font-display: swap;
  src:
    local("Intro Book"),
    url("../fonts/Intro-Book.woff2") format("woff2"),
    url("../fonts/Intro-Book.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: 'Intro Bold';
  font-style: normal;
  font-display: swap;
  src:
    local("Intro Book"),
    url("../fonts/Intro-Bold.woff2") format("woff2"),
    url("../fonts/Intro-Bold.woff") format("woff");
}
