/* stylelint-disable order/properties-order */
/* stylelint-disable property-no-vendor-prefix */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  box-sizing: border-box;
  font-size: clamp(4.2px, 0.5vw, 25px);
  -webkit-text-size-adjust: 100%;

  @include noHighlight();

  @include mq('custom', 'max', 1024) {
    font-size: 10px;
  }

  @media (min-width: 2000px) {
    font-size: 10px;
  }
}

body {
  background-color: var(--bg-color);

  font: var(--text-t2);
  font-variant-numeric: lining-nums;
  color: var(--text-color);
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: ordered-list;

  & > li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list, decimal-leading-zero) ".";
    }
  }
}

textarea {
  display: block;
  width: 100%;
  height: 20rem;
  overflow: auto;
  box-shadow: none;
  resize: none;

  @include customScrollbar();
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  &[data-autocompleted] {
    background-color: transparent !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]) {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"] {
  /* 1 */
  outline-offset: -2px;

  /* 2 */
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

i {
  font-style: italic;
}

button {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s;
  user-select: none;
  -webkit-appearance: none;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s;
  color: inherit;
  outline: none;
}

svg {
  flex-shrink: 0;
  display: block;
  user-select: none;
  fill: currentcolor;
  transition: fill 0.2s;
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  user-select: none;
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.site-container {
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--header-height);
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.empty-text {
  margin-top: -2rem;
  font: var(--text-t4);

  @include mq('custom', 'max', 640) {
    margin-top: 0;
  }
}

button:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

a:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

.js-focus-visible button:focus:not(.focus-visible),
.js-focus-visible a:focus:not(.focus-visible) {
  outline: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  white-space: nowrap;
}

.link {
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.section-title {
  font: var(--text-t1);
  color: var(--heading-color);

  &::after {
    content: "";

    display: block;
    width: 100%;
    height: 1px;
    margin-top: 2.6rem;

    background-color: var(--stroke-color-1);

    @include mq('custom', 'max', 1024) {
      margin-top: 2.1rem;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 1.6rem;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 1.1rem;
    }
  }
}

.category-tag {
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  min-height: 2.5rem;
  padding: 0.4rem 1rem;

  border: 1px solid var(--button-stroke);
  border-radius: 5rem;

  font: var(--text-t5);
  color: var(--primary-color);

  transition: 0.3s color;


  @include mq('custom', 'max', 640) {
    min-height: 1.9rem;
    padding: 0.4rem 0.7rem;

    font: var(--semi-bold) 1rem/83% var(--main-ff);
  }

  &::before {
    content: '';

    width: 0.7rem;
    height: 0.7rem;
    margin-bottom: 0.1rem;
    flex-shrink: 0;

    border-radius: 50%;
    background-color: var(--primary-color);

    transition: 0.3s background-color;

    @include mq('custom', 'max', 640) {
      display: none;
    }
  }
}

.filter-button {
  display: none;

  @include mq('custom', 'max', 1024) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.1rem;
    height: 6.1rem;

    border: 1px solid var(--stroke-color-2);
    border-radius: 50%;

    svg {
      width: 2rem;
      height: 2rem;
    }

    &::after {
      content: attr(data-count);

      position: absolute;
      left: 70%;
      top: -1.1rem;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.8rem;
      height: 2.8rem;

      background-color: var(--primary-color);
      border-radius: 50%;

      font: var(--text-t5);
      color: #fff;
    }

    &.hide-count {
      &::after {
        display: none;
      }
    }
  }

  @include mq('custom', 'max', 768) {
    width: 5.3rem;
    height: 5.3rem;
  }

  @include mq('custom', 'max', 640) {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;

  border-radius: 50%;
  background-color: var(--primary-bg);

  &--bordered {
    background-color: transparent;
    border: 1px solid var(--stroke-color-2);
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}

.lead {
  font: var(--title-h2);
  letter-spacing: -0.04em;
  color: var(--heading-color);

  @include mq('custom', 'max', 640) {
    letter-spacing: 0;
  }

  span {
    position: relative;

    display: inline-block;

    &::before {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      height: 9.6rem;
      width: 105%;
      border: 1px solid var(--heading-color);
      border-radius: 3.5rem;

      @include mq('custom', 'max', 1024) {
        height: 5rem;
      }

      @include mq('custom', 'max', 640) {
        display: none;
      }
    }
  }
}

.js-block-animate {
  transform: translateY(10rem);
  transition: 0.7s ease-out;

  &.animate-element {
    transform: translateY(0);
  }
}

.icon-logo-mini {
  transform-origin: center center;

  will-change: transform;
  animation-name: rotateLogo;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

  @keyframes rotateLogo {
    0% {
      transform: rotate(0);
    }

    15% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(180deg);
    }
  }
}

.container {
  width: 100%;
  max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
  margin: 0 auto;
  padding: 0 var(--content-padding);
  @supports (width: max(20vw, 100px)) {
    padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
    padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
  }
}

.narrow-container {
  width: 100%;
  max-width: calc(var(--max-narrow-container-width) + 2 * var(--content-padding));
  margin: 0 auto;
  padding: 0 var(--content-padding);
  @supports (width: max(20vw, 100px)) {
    padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
    padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
  }
}

.text-container {
  width: 100%;
  max-width: 72rem;

  @include mq('custom', 'max', 1024) {
    max-width: none;
  }

  & > h2 {
    margin-bottom: 3rem;
    max-width: 69.2rem;

    font: var(--title-h5);
    color: var(--heading-color);

    @include mq('custom', 'max', 1024) {
      max-width: none;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }

    &:not(:first-of-type) {
      margin-top: 7rem;

      @include mq('custom', 'max', 1024) {
        margin-top: 6rem;
        max-width: none;
      }

      @include mq('custom', 'max', 768) {
        margin-top: 5rem;
      }

      @include mq('custom', 'max', 640) {
        margin-top: 4rem;
      }
    }
  }

  & > p {
    margin: 3rem 0;
    max-width: 69.2rem;

    font: var(--text-t3);
    line-height: 140%;

    @include mq('custom', 'max', 1024) {
      max-width: none;
    }

    @include mq('custom', 'max', 640) {
      margin: 2rem 0;
    }

    a {
      color: var(--primary-color);
      text-decoration: underline;
    }

    b {
      color: #000;
      font-weight: var(--semi-bold);
    }
  }

  & > h3 {
    margin: 7rem 0 3rem;
    max-width: 69.2rem;

    font: var(--title-h6);
    color: var(--heading-color);

    @include mq('custom', 'max', 1024) {
      margin-top: 6rem;
      max-width: none;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 5rem;
    }

    @include mq('custom', 'max', 640) {
      margin: 4rem 0 2rem;
    }
  }

  & > h4 {
    margin: 7rem 0 2rem;
    max-width: 69.2rem;

    font: var(--text-t2);
    color: var(--heading-color);

    @include mq('custom', 'max', 1024) {
      margin-top: 6rem;
      max-width: none;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 5rem;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 4rem;
    }
  }

  & > ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 3rem 0 7rem;
    max-width: 69.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 6rem;
      max-width: none;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 5rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
      margin: 2rem 0 4rem;
    }

    li {
      display: flex;
      align-items: flex-start;
      gap: 1.4rem;

      font: var(--text-t3);

      @include mq('custom', 'max', 640) {
        gap: 1rem;
      }

      &::before {
        content: '';

        transform: rotate(45deg) translateZ(0);
        -webkit-transform-origin: 50%  51%;

        width: 0.8rem;
        height: 0.8rem;
        margin-top: 0.8rem;
        flex-shrink: 0;

        border-radius: 0.2rem;
        background-color: var(--primary-color);

        @include mq('custom', 'max', 1024) {
          margin-top: 0.8rem;
        }

        @include mq('custom', 'max', 640) {
          width: 0.6rem;
          height: 0.6rem;
          margin-top: 0.6rem;
        }
      }
    }
  }

  & > ol {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    margin: 3rem 0 7rem;
    max-width: 69.2rem;

    counter-reset: ol;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 6rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 5rem;
    }

    @include mq('custom', 'max', 640) {
      margin: 2rem 0 4rem;
      gap: 0.8rem;
    }

    li {
      display: flex;
      align-items: flex-start;
      gap: 1.4rem;

      font: var(--text-t3);

      @include mq('custom', 'max', 640) {
        gap: 1rem;
      }

      &::before {
        counter-increment: ol;
        content: counter(ol) '.';

        flex-shrink: 0;

        font: var(--title-h6);
        color: var(--heading-color);
      }
    }
  }

  & > .button {
    margin-top: 4rem;

    @include mq('custom', 'max', 1024) {
      margin-top: 3rem;
    }
  }

  & > *:last-of-type {
    margin-bottom: 0;
  }
}

.text-wrapper {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  justify-content: space-between;

  @include mq('custom', 'max', 1024) {
    flex-direction: column;
    gap: 4rem;
  }
}

.blockquote {
  position: relative;

  padding: 4rem 4rem 3.2rem;
  margin: 7rem 0;

  border-radius: 2rem;
  background-color: var(--primary-bg);

  @include mq('custom', 'max', 1024) {
    padding: 3.5rem 3rem;
    margin: 6rem 0;
  }

  @include mq('custom', 'max', 768) {
    padding: 3rem;
    margin: 5rem 0;
  }

  @include mq('custom', 'max', 640) {
    padding: 2rem;
    margin: 4rem 0;

    border-radius: 1.4rem;
  }

  &::before {
    content: '';

    position: absolute;
    top: 3.8rem;
    right: 4rem;

    width: 8.9rem;
    height: 7.5rem;

    background: url("../images/quote.svg") no-repeat center;
    background-size: contain;


    @include mq('custom', 'max', 640) {
      top: -1.6rem;
      right: 2rem;

      width: 4.3rem;
      height: 3.6rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 4rem;
    margin-right: 10rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 3.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3rem;
    }

    @include mq('custom', 'max', 640) {
      margin-right: 0;
      margin-bottom: 2rem;
      gap: 1.8rem;
    }
  }

  &__img {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;

    border-radius: 50%;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      width: 8.4rem;
      height: 8.4rem;
    }

    @include mq('custom', 'max', 768) {
      width: 7rem;
      height: 7rem;
    }

    @include mq('custom', 'max', 640) {
      width: 5.7rem;
      height: 5.7rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__author-name {
    display: inline-flex;
    align-items: center;
    height: 2.7rem;
    padding: 0 0.8rem;
    margin-bottom: 1rem;

    border: 1px solid var(--stroke-color-1);
    border-radius: 6rem;

    font: var(--text-t2);
    color: var(--heading-color);

    @include mq('custom', 'max', 640) {
      height: 2.4rem;
    }
  }

  &__author-position {
    display: flex;
    align-items: flex-start;
    gap: 1rem;

    font: var(--text-t5);
    color: var(--heading-color);

    @include mq('custom', 'max', 640) {
      gap: 0.7rem;

      font: var(--regular) 0.9rem/115% var(--main-ff);
    }

    &::before {
      content: '';

      transform: rotate(45deg) translateZ(0);
      -webkit-transform-origin: 50%  51%;

      width: 0.4rem;
      height: 0.4rem;
      margin-top: 0.6rem;
      flex-shrink: 0;

      border-radius: 0.1rem;
      background-color: var(--heading-color);

      @include mq('custom', 'max', 640) {
        margin-top: 0.3rem;
        background-color: var(--primary-color);
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    font: var(--text-t4);
    color: var(--heading-color);
  }
}

.registration {
  position: relative;

  padding: 5rem 5rem 5rem 4.7rem;
  margin: 7rem 0;

  border-radius: 2rem;
  background-color: var(--secondary-bg);

  color: #fff;

  @include mq('custom', 'max', 1024) {
    margin: 6rem 0 7rem;
  }

  @include mq('custom', 'max', 768) {
    padding: 5rem 0;
    margin: 5rem 0 7rem;

    border-radius: 0;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;

      height: 101%;
      width: 150%;

      background-color: var(--secondary-bg);
    }
  }

  @include mq('custom', 'max', 640) {
    margin: 4rem 0 6.6rem;
  }

  &--without-form {
    padding-bottom: 7.8rem;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      padding-bottom: 6.8rem;
    }

    @include mq('custom', 'max', 768) {
      padding-bottom: 5.9rem;
      overflow: visible;
    }

    @include mq('custom', 'max', 640) {
      padding-bottom: 5rem;
    }

    .registration__header {
      margin-bottom: 5rem;

      @include mq('custom', 'max', 1024) {
        margin-bottom: 4rem;
      }

      @include mq('custom', 'max', 768) {
        margin-bottom: 3rem;
      }

      @include mq('custom', 'max', 640) {
        margin-bottom: 2rem;
      }
    }

    .registration__button {
      display: inline-flex;
      padding: 0 4rem;

      @include mq('custom', 'max', 640) {
        padding: 0 2.6rem;
      }
    }

    .registration__decor {
      bottom: 6.2rem;
    }
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 6rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.6rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3.2rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0;
      margin-bottom: 1.8rem;
    }
  }

  &__title {
    font: var(--title-h4);
  }

  &__img {
    width: 12rem;
    height: 12rem;
    flex-shrink: 0;

    border-radius: 50%;
    overflow: hidden;

    @include mq('custom', 'max', 640) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;

    font: var(--text-t1);
    color: var(--accent-opacity-color-4);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 3.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 3rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.4rem;
      font-size: 1.8rem;
    }
  }

  &__bg {
    position: absolute;
    right: -2.8rem;
    bottom: -10.6rem;

    width: 28.9rem;
    height: 30.4rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__form {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.2rem 3.3rem;

    @include mq('custom', 'max', 1024) {
      gap: 4rem 5rem;
    }

    @include mq('custom', 'max', 640) {
      display: flex;
      flex-direction: column;
    }
  }

  &__input-wrapper {
    &--large {
      grid-column: span 2;

      @include mq('custom', 'max', 640) {
        grid-column: span 1;
      }
    }
  }

  &__input {
    font: var(--text-t2);
    color: #fff;

    @include placeholder() {
      color: #fff;
    }
  }

  &__label {
    color: var(--accent-opacity-color-4);
  }

  button.registration__button, a.registration__button {
    justify-content: center;
    height: 9.6rem;
    margin-right: -0.8rem;

    font: var(--text-t2);

    @include mq('custom', 'max', 1024) {
      color: var(--heading-color);
      background-color: #fff;
    }

    @include mq('custom', 'max', 640) {
      padding: 0 2.6rem;
      height: 5.2rem;
      margin-right: 0;
      order: 1;
      align-self: flex-start;

      font-size: 1.4rem;
    }
  }

  &__confidence {
    font: var(--other-3);
    color: var(--button-stroke);

    @include mq('custom', 'max', 640) {
      margin-bottom: -0.4rem;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: #fff;
      }
    }
  }

  &__decor {
    display: none;

    @include mq('custom', 'max', 640) {
      position: absolute;
      right: 0;
      bottom: 1.4rem;

      display: block;
      width: 2.2rem;
      height: 2.4rem;

      color: var(--accent-color-2);

      animation: none;
    }
  }
}

.read-also {
  position: relative;

  display: flex;
  gap: 3rem;
  padding: 3rem 3rem 3.4rem;
  margin: 7rem 0;

  border-radius: 2rem;
  background-color: var(--primary-bg);

  @include mq('custom', 'max', 1024) {
    gap: 2.5rem;
    padding: 2.5rem;
    margin: 6rem 0;
  }

  @include mq('custom', 'max', 768) {
    gap: 2rem;
    padding: 2rem;
    margin: 5rem 0;
  }

  @include mq('custom', 'max', 640) {
    gap: 1.6rem;
    padding: 1.4rem;
    margin: 4rem 0;
    align-items: center;

    border-radius: 1.3rem;
  }

  &:hover {
    .read-also__img img {
      transform: scale(1.1);
    }
  }

  &__img {
    position: relative;
    z-index: 1;

    width: 17rem;
    height: 12.6rem;
    flex-shrink: 0;

    border-radius: 1rem;
    overflow: hidden;

    @include mq('custom', 'max', 640) {
      width: 5.6rem;
      height: 5.6rem;

      border-radius: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: 0.3s;

      @include transitionfix();
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;

    @include mq('custom', 'max', 640) {
      gap: 1.2rem;
    }
  }

  &__desc {
    font: var(--text-t4);
    color: var(--heading-color);

    @include mq('custom', 'max', 640) {
      font: var(--text-t6);
    }
  }

  &__link {
    max-width: 40rem;

    font: var(--title-h6);
    color: var(--heading-color);

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
    }
  }
}

.img-slider {
  margin: 4rem 0 10rem;

  @include mq('custom', 'max', 1024) {
    margin: 3.5rem 0 8rem;
  }

  @include mq('custom', 'max', 768) {
    margin: 3rem 0 6rem;
  }

  @include mq('custom', 'max', 640) {
    margin: 2rem 0 4rem;
  }

  &__swiper-container {
    position: relative;
  }

  &__swiper {
    margin-bottom: 2rem;

    border-radius: 2rem;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {

    }

    @include mq('custom', 'max', 768) {

    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 0;

      border-radius: 0;
      overflow: visible;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    font: var(--other-3);
    color: var(--stroke-color-1);
    text-align: center;

    @include mq('custom', 'max', 640) {
      width: 30.7rem;

      font: var(--other-4);
    }
  }

  &__slide-img {
    height: 48.6rem;

    border-radius: 2rem;
    overflow: hidden;

    @include mq('custom', 'max', 768) {
      height: 40rem;
    }

    @include mq('custom', 'max', 640) {
      height: 20.9rem;
      border-radius: 1.4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .slider-navigation {
    position: absolute;
    left: -3rem;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 1px;

    @include mq('custom', 'max', 1024) {
      display: none;
    }

    &__button.swiper-button-disabled {
      opacity: 1;
      background-color: #ccc;

      svg {
        opacity: 0.7;
      }
    }
  }

  .swiper-pagination {
    display: none;

    position: static;
    transform: none !important;

    margin: 1rem auto 0;

    @include mq('custom', 'max', 640) {
      display: block;
    }
  }

  &__swiper-thumb {
    @include mq('custom', 'max', 640) {
      display: none;
    }
  }

  &__slide-thumb {
    position: relative;
    z-index: 1;

    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.4;

    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &.swiper-slide-thumb-active {
      opacity: 1;
    }

    img {
      width: 100%;
      height: 9.4rem;
      object-fit: cover;
    }
  }
}

.video {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 48.6rem;
  margin: 4rem 0 7rem;

  border-radius: 2rem;
  overflow: hidden;
  cursor: pointer;

  @include mq('custom', 'max', 1024) {
    margin: 3.5rem 0 6rem;
  }

  @include mq('custom', 'max', 768) {
    margin: 3rem 0 5rem;
    height: 40rem;
  }

  @include mq('custom', 'max', 640) {
    margin: 2rem 0 4rem;
    height: 20.9rem;

    border-radius: 1.4rem;
  }

  &--bordered {
    border: 5px solid var(--primary-color);
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }

  &__preview {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 0.3s;

    @include  transitionfix();
  }

  &__button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.6rem;
    height: 7.6rem;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.9);

    transition: 0.3s box-shadow, 0.3s background-color;

    @include mq('custom', 'max', 1024) {
      width: 6.6rem;
      height: 6.6rem;
    }

    @include mq('custom', 'max', 768) {
      width: 5.7rem;
      height: 5.7rem;
    }

    @include mq('custom', 'max', 640) {
      width: 4.8rem;
      height: 4.8rem;
    }

    &::before, &::after {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      z-index: -1;

      width: 100%;
      height: 100%;

      border: 1px solid rgba(255, 255, 255, 0.9);
      border-radius: 50%;

      animation-name: pulse;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      will-change: transform, border-color;
    }

    &::after {
      animation-delay: 1.5s;
    }

    @keyframes pulse {
      0% {

      }

      100% {
        border-color: rgba(255, 255, 255, 0);
        transform: translate(-50%, -50%) scale(1.5);
      }
    }

    svg {
      width: 2.8rem;
      height: 2.8rem;

      transition: 0.3s;

      @include mq('custom', 'max', 1024) {
        width: 2.4rem;
        height: 2.4rem;
      }

      @include mq('custom', 'max', 768) {
        width: 2.1rem;
        height: 2.1rem;
      }

      @include mq('custom', 'max', 640) {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }
}

.partners {
  margin: 4rem 0 8.4rem;

  @include mq('custom', 'max', 1024) {
    margin: 3.5rem 0 6rem;
    overflow: visible;
  }

  @include mq('custom', 'max', 768) {
    margin: 3rem 0 5rem;
  }

  @include mq('custom', 'max', 640) {
    margin: 2rem 0 4rem;
  }

  &__slide {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1px;
    padding-right: 3rem;
    width: 15.7rem;
    box-sizing: content-box;

    @include mq('custom', 'max', 1024) {
      padding-right: 2.5rem;
      width: 13rem;
    }

    @include mq('custom', 'max', 768) {
      padding-right: 2rem;
      width: 11rem;
    }

    @include mq('custom', 'max', 640) {
      padding-right: 1.4rem;
      width: 9rem;
    }

    @include mq('custom', 'min', 1025) {
      &:hover {
        .partners__slide-link {
          color: var(--primary-color);

          &::before {
            transform: scaleX(1);
          }
        }
      }
    }

    &--not-hover {
      &:hover {
        cursor: default;
        .partners__slide-link {
          color: var(--heading-color) !important;
          transition: 0s !important;

          &::before {
            transform: scaleX(0) !important;
            transition: 0s !important;
          }
        }
      }
    }
  }

  &__slide-img {
    position: relative;

    width: 15.7rem;
    height: 15.7rem;

    border: 1px solid var(--accent-opacity-color-4);
    border-radius: 50%;

    @include mq('custom', 'max', 1024) {
      width: 13rem;
      height: 13rem;
    }

    @include mq('custom', 'max', 768) {
      width: 11rem;
      height: 11rem;
    }

    @include mq('custom', 'max', 640) {
      width: 9rem;
      height: 9rem;
    }

    img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      max-width: 65%;
      max-height: 65%;
      object-fit: contain;
    }
  }

  &__slide-link {
    position: relative;

    margin-top: 1.4rem;

    font: var(--text-t6);
    color: var(--heading-color);
    text-align: center;

    transition: 0.3s;

    &::before {
      content: '';

      position: absolute;
      left: 0;
      top: 100%;
      transform: scaleX(0);
      transform-origin: center;

      width: 100%;
      height: 1px;

      background-color: var(--primary-color);

      transition: 0.3s;
    }
  }
}

.materials {
  margin: 4rem 0 7rem;

  @include mq('custom', 'max', 1024) {
    margin: 3.5rem 0 6rem;
    overflow: visible;
  }

  @include mq('custom', 'max', 768) {
    margin: 3rem 0 5rem;
  }

  @include mq('custom', 'max', 640) {
    margin: 2rem 0 4rem;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    min-height: 15.5rem;
    padding: 2.2rem 2rem 2.2rem 2.2rem;
    width: 22rem;

    border: 1px solid var(--stroke-color-1);
    border-radius: 1.6rem;

    @include mq('custom', 'max', 1024) {
      padding: 2rem ;
    }

    @include mq('custom', 'max', 768) {
      padding: 1.6rem;
    }

    @include mq('custom', 'max', 640) {
      width: 13rem;
      padding: 1.2rem;
      border-radius: 1rem;
    }
  }

  &__slide-title {
    font: var(--text-t2);
    color: var(--heading-color);

    @include mq('custom', 'max', 640) {
      font: var(--regular) 1.2rem/120% var(--main-ff);
    }
  }

  &__slide-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

    font: var(--text-t5);
    color: var(--heading-color);

    @include mq('custom', 'max', 640) {
      font: var(--regular) 1rem/115% var(--main-ff);
      align-items: center;
    }
  }

  &__slide-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;

    border: 1px solid var(--stroke-color-1);
    border-radius: 50%;

    @include mq('custom', 'max', 1024) {
      width: 3.6rem;
      height: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      width: 3rem;
      height: 3rem;
    }

    @include mq('custom', 'max', 640) {
      width: 2.3em;
      height: 2.3rem;
    }

    svg {
      width: 1rem;
      height: 1.4rem;

      @include mq('custom', 'max', 640) {
        width: 0.6rem;
        height: 1rem;
      }
    }
  }
}

.text-aside {
  width: 100%;
  max-width: 30rem;

  @include mq('custom', 'max', 1024) {
    max-width: none;
  }

  &__experts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__experts-title {
    margin-bottom: 2rem;

    font: var(--h6);
    color: var(--heading-color);

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  .expert-card {
    border: 0;
    padding: 0;

    &__tag {
      display: none;
    }
  }

  &__product {
    margin-top: 4rem;
    padding-top: 4rem;

    border-top: 1px solid rgba(0, 0, 0, 0.3);

    @include mq('custom', 'max', 1024) {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }

  }

  &__product-title {
    margin-bottom: 3rem;

    font: var(--title-h6);
    color: var(--heading-color);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.4rem;
    }
  }

  .products-list {
    grid-template-columns: 1fr;

    &__category {
      display: flex;
    }

    &__link {
      padding: 3rem;

      @include mq('custom', 'max', 640) {
        padding: 2rem;

        &::before {
          top: 2rem;
          right: 2rem;
        }
      }
    }
  }
}
