.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 5rem;

  font: var(--text-t3);
  text-transform: uppercase;

  &--large {
    height: 5.9rem;
    padding: 0 3rem;
  }

  &--big {
    height: 4.7rem;
    padding: 0 3rem;
  }

  &--icon {
    width: 4.6rem;
    height: 4.6rem;

    border-radius: 50%;

    @include mq('custom', 'max', 1024) {
      width: 4.2rem;
      height: 4.2rem;
    }

    @include mq('custom', 'max', 768) {
      width: 3.8rem;
      height: 3.8rem;
    }

    @include mq('custom', 'max', 640) {
      width: 3.4rem;
      height: 3.4rem;
    }

    svg {
      // ?
    }
  }

  &--medium {
    height: 4rem;
    padding: 0 2rem;
  }

  &--red-bordered {
    border: 1px solid var(--primary-color);
  }

  &--red {
    background-color: var(--primary-color);
    color: #fff;
  }

  &--bordered {
    border: 1px solid var(--stroke-black-color);
    color: var(--black-color);
  }

  &--transparent-bordered {
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: var(--black-color);
  }
}
