.button {
  position: relative;
  z-index: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;


  border-radius: 5rem;
  overflow: hidden;

  font: var(--text-t3);
  text-transform: uppercase;

  &::before {
    content: '';

    position: absolute;
    bottom: -10rem;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0);

    width: 150%;
    height: 10rem;

    border-radius: 50rem;
    background-color: var(--primary-color);

    transition: 0.3s ease all;
  }

  @include mq('custom', 'min', 1025) {
    &:hover {
      color: #fff;

      &::before {
        transform: translate(-50%,-7rem);
        z-index: -2;
      }
    }
  }

  &--large {
    height: 5.9rem;
    padding: 0.2rem 3rem 0;

    @include mq('custom', 'max', 1024) {
      height: 5.2rem;
    }

    @include mq('custom', 'max', 768) {
      height: 4.6rem;
    }

    @include mq('custom', 'max', 640) {
      height: 4rem;
      padding: 0 2rem;
    }
  }

  &--big {
    height: 4.7rem;
    padding: 0.2rem 3rem 0;
  }

  &--icon {
    width: 4.6rem;
    height: 4.6rem;

    border-radius: 50%;

    @include mq('custom', 'max', 1024) {
      width: 4.2rem;
      height: 4.2rem;
    }

    @include mq('custom', 'max', 768) {
      width: 3.8rem;
      height: 3.8rem;
    }

    @include mq('custom', 'max', 640) {
      width: 3.4rem;
      height: 3.4rem;
    }

    svg {
      // ?
    }
  }

  &--medium {
    height: 4rem;
    padding: 0.2rem 2rem 0;
  }

  &--red-bordered {
    border: 1px solid var(--primary-color);
  }

  &--red {
    background-color: #BE3D3D;
    color: #fff;
  }

  &--bordered {
    border: 1px solid var(--stroke-black-color);
    color: var(--black-color);
  }

  &--transparent-bordered {
    border: 1px solid rgba(51, 51, 51, 0.15);
    color: var(--black-color);
  }
}
