.slider-pagination {
  display: flex;

  .swiper-pagination-bullet {
    position: relative;

    transform: scale(1) !important;

    flex-grow: 1;
    height: 0.2rem;
    margin: 0;

    background-color: rgba(255, 255, 255, 0.2);
    opacity: 1;
    overflow: hidden;
    border-radius: 0;

    transition: 0.3s;

    &-active {
      background-color: #fff;
    }
  }

  &__bullet-progressbar {
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;

    height: 100%;
    width: 100%;

    background-color: #fff;
  }

  &--black {
    .swiper-pagination-bullet {
      background-color: rgba(42, 38, 38, 0.2);

      &-active {
        background-color: #2A2626;
      }
    }
  }
}
