.slider-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 9rem;
  overflow: hidden;

  &--white-transparent {
    background-color: rgba(255, 255, 255, 0.15);
    color: #fff;
  }

  &--white-color {
    color: #fff;
  }

  &--large {
    .slider-navigation__button {
      width: 6rem;
      height: 6rem;

      svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &--bordered {
    border: 1px solid var(--stroke-grey-color);
    color: var(--black-color);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.8rem;
    height: 4.2rem;

    svg {
      width: 1.7rem;
      height: 1.7rem;
      margin-left: -0.6rem;

      transition: 0.3s opacity;
    }

    &:first-child {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      cursor: default;

      svg {
        opacity: 0.5;
      }
    }
  }
}
