.events-section {
  background: url("../images/section-bg.png") no-repeat center;
  background-size: cover;

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 3.6rem;
  }

  &__item {
    position: relative;
  }

  &__item-img {
    position: relative;

    width: 100%;
    padding-top: 57.31%;

    img {
      @extend .fully-filled-el;
      object-fit: cover;
    }
  }

  &__item-tag {
    position: absolute;
    left: 1.2rem;
    top: 1.2rem;
  }

  &__item-content {
    padding: 3.6rem 3.2rem 2.6rem;
    background-color: #fff;
  }

  &__item-time {
    display: block;
    margin-bottom: 1.8rem;

    font: var(--text-t4);
  }

  &__item-title {
    font: var(--title-h5);
  }

  &__item-footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    gap: 2rem;
  }

  .meta-item {
    font: var(--text-t2);
  }

  &__item-link {
    &::before {
      content: '';

      @extend .fully-filled-el;
    }

    &:hover svg {
      color: var(--primary-color);
    }

    svg {
      width: 4.2rem;
      height: 4.2rem;

      color: transparent;

      transition: 0.3s;
    }
  }
}
