.intro-section {
  padding: 12.4rem 0 7.2rem;

  background: #F3F5F8 url("../images/intro-section-bg.png") no-repeat center;
  background-size: cover;

  @include mq('custom', 'max', 1024) {
    padding: 11.6rem 0 6.4rem;
  }

  @include mq('custom', 'max', 768) {
    padding: 10.8rem 0 4.8rem;
  }

  @include mq('custom', 'max', 640) {
    padding: 10rem 0 3.2rem;
  }

  .page-navigation {
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }

    &__title {
      max-width: 80rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: flex-start;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: 1fr;
    }
  }

  .navigation-list {
    margin-right: 2rem;
    grid-column: span 1;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__content {
    grid-column: span 7;

    @include mq('custom', 'max', 1024) {
      grid-column: auto;
    }
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    margin-right: -3.2rem;
    margin-bottom: 3rem;

    @include mq('custom', 'max', 640) {
      margin-right: -1.6rem;
      margin-bottom: 0.6rem;
    }
  }

  .meta-item {
    font: var(--text-t2);
    margin-right: 3.2rem;
    margin-bottom: 1rem;

    @include mq('custom', 'max', 640) {
      margin-right: 1.6rem;
    }

    svg {
      width: 2rem;
      height: 2rem;

      @include mq('custom', 'max', 640) {
        width: 1.4rem;
        height: 1.4rem;
      }
    }
  }

  &__content-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1.6rem;

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.2rem;
    }
  }

  &__img {
    position: relative;

    &::before {
      content: '';

      display: block;
      width: 100%;
      padding-top: 56.35%;

      @include mq('custom', 'max', 640) {
        padding-top: 56.04%;
      }
    }

    img {
      @extend .fully-filled-el;
      object-fit: cover;
    }
  }

  &__timer {
    display: flex;
    flex-direction: column;
    max-width: 47.9rem;
    padding: 4.8rem;

    background-color: #fff;

    @include mq('custom', 'max', 1024) {
      padding: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      max-width: none;
      padding: 2.6rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 1.6rem;
    }
  }

  &__timer-header {
    @include mq('custom', 'max', 640) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 1.6rem;
      margin-bottom: 1.6rem;

      border-bottom: 1px solid var(--stroke-grey-color);
    }
  }

  &__timer-desc {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.8rem;
    max-width:  31.7rem;
    padding-bottom: 1.6rem;
    margin-bottom: 2.4rem;

    border-bottom: 1px solid var(--stroke-grey-color);

    font: var(--text-t2);
    text-transform: uppercase;

    @include mq('custom', 'max', 640) {
      padding-bottom: 0;
      margin-bottom: 0;
      max-width: none;
      border-bottom: 0;
      flex-shrink: 0;

      font: var(--text-t4);
    }

    svg {
      width: 2rem;
      height: 2rem;

      @include mq('custom', 'max', 640) {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  &__timer-numbers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.7rem;
    max-width: 21.5rem;
    margin-bottom: 2.6rem;

    @include mq('custom', 'max', 640) {
      max-width: none;
      margin-bottom: 0;
    }
  }

  &__timer-number {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__timer-number-digit {
    margin-bottom: 0.2rem;

    font: var(--other-1);
    color: var(--primary-color);
  }

  &__timer-number-desc {
    font: var(--text-t2);
    color: rgba(51, 51, 51, 0.6);
  }

  &__timer-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: auto;
    margin-bottom: 2.4rem;

    font: var(--text-t1);

    @include mq('custom', 'max', 1024) {

    }

    @include mq('custom', 'max', 768) {

    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
      font-size: 1.3rem;
    }
  }

  &__timer-button {
    align-self: flex-start;
  }
}
