.tabs-block {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  @include mq('custom', 'max', 768) {
    grid-template-columns: 1fr;
  }

  &__tabs {
    grid-column: span 1;

    @include mq('custom', 'max', 768) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 4rem 0;

    font: var(--title-h5);

    transition: 0.3s;

    @include mq('custom', 'max', 1024) {
      padding: 3.2rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.4rem 0;
    }

    @include mq('custom', 'max', 640) {
      padding: 1.6rem 0;
    }

    svg {
      width: 3.2rem;
      height: 3.2rem;
      margin-bottom: 0.5rem;

      @include mq('custom', 'max', 768) {
        display: none;
      }
    }

    &.tab-active {
      color: var(--primary-color);
      background-color: #F3F5F8;
    }
  }

  &__contents {
    position: relative;
    grid-column: span 5;
  }

  &__content {
    @extend .tab-content;

    padding: 6.4rem;
    background-color: #F3F5F8;

    @include mq('custom', 'max', 1024) {
      padding: 5.6rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 3.7rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2.4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem 6.6rem;

    @include mq('custom', 'max', 1024) {
      gap: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      gap: 3.2rem;
    }

    @include mq('custom', 'max', 640) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.4rem;

    @include mq('custom', 'max', 640) {
      gap: 1.6rem;
    }
  }

  &__item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;

    border-radius: 50%;
    background-color: #fff;

    color: var(--primary-color);


    @include mq('custom', 'max', 640) {
      width: 4rem;
      height: 4rem;
    }

    svg {
      width: 2.8rem;
      height: 2.8rem;

      @include mq('custom', 'max', 640) {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }

  &__item-title {
    margin-bottom: 1.2rem;
    font: var(--title-h6);

    @include mq('custom', 'max', 640) {
      margin-bottom: 0.8rem;
    }
  }

  &__item-text {
    font: var(--text-t2);
  }

  &__registration {
    margin-top: 8rem;

    @include mq('custom', 'max', 1024) {
      margin-top: 6.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 5.8rem;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 4.8rem;
    }
  }

  &__registration-title {
    max-width: 44.5rem;
    margin-bottom: 3.2rem;

    font: var(--title-h4);
    text-transform: uppercase;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }
  }

  &__registration-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    @include mq('custom', 'max', 1024) {

    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.2rem;
    }
  }

  &__registration-button {
    width: 21.1rem;
    margin-top: 1.2rem;

    font-family: "Intro Bold", sans-serif;

    @include mq('custom', 'max', 768) {
      width: 100%;
    }
  }

  &__registration-checkbox-wrapper {
    margin-top: 3.3rem;
    margin-left: auto;

    @include mq('custom', 'max', 768) {
      margin-top: 1.2rem;
      margin-left: 0;
    }
  }

  &__registration-checkbox:checked + &__registration-checkbox-label::before {
    background-image: url("../images/checked-icon.svg");
  }

  &__registration-checkbox-label {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.8rem;

    cursor: pointer;

    font: var(--text-t2);
    color: rgba(51, 51, 51, 0.40);

    @include mq('custom', 'max', 640) {
      font-size: 1.2rem;
    }

    &::before {
      content: '';

      width: 1.4rem;
      height: 1.4rem;

      border: 1px solid rgba(51, 51, 51, 0.35);
      border-radius: 0.2rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0.8rem 0.6rem;
    }

    a {
      text-decoration: underline;
      text-decoration-color: rgba(51, 51, 51, 0.35);
      text-underline-offset: 0.3rem;
    }
  }
}
