extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Прошедшие мероприятия"
  - const siteLang = "ru"

block content
  include pages/old-events/main.pug
