mixin navigation-list(data)
  ul.navigation-list&attributes(attributes)
    for item in data
      li.navigation-list__item(class=`${item.active ? "active" : ""}`)
        a.navigation-list__link(href="#")
          if item.active
            +icon-multi("slider-arrow")
          span= item.text
