mixin page-navigation(title, breadcrumbs)
  .page-navigation
    .page-navigation__button
      +icon-multi("back-icon")
    .page-navigation__content
      h1.page-navigation__title= title
      +breadcrumbs(breadcrumbs)
