mixin section-header(title)
  header.section-header&attributes(attributes)
    h2.section-header__title= title
    a.section-header__link.button.button--medium.button--bordered(href="#")
      | СМОТРЕТЬ ВСЕ
