-
  const pastEvents = [
    {
      img: "past-event-1.jpg",
      title: "",
      text: ""
    },
    {
      img: "past-event-2.jpg",
      title: "",
      text: ""
    },
    {
      img: "past-event-3.jpg",
      title: "",
      text: ""
    },
  ]

section.past-event.page-section.page-section--inner
  .container
    +section-header("ПРОШЕДШИЕ МЕРОПРИЯТИЯ")
    +events-list(pastEvents)
