-
  const pastEvents = [
    {
      img: "past-event-1.jpg",
      title: "Кондуктометрические и гидростатические датчики уровня воды в резервуарах FLAMAX",
      text: "В стандартных резервуарах FLAMAX для выполнения различных технологических процессов, связанных с эксплуатацией резервуара, необходимо фиксировать определенные уровни наполнения емкостей"
    },
    {
      img: "past-event-2.jpg",
      title: "Насосные станции в автоматических системах пожаротушения",
      text: "В данной статье мы рассмотрим типы систем пожаротушения и какую роль в них играют насосные станции."
    },
    {
      img: "past-event-3.jpg",
      title: "Насосные станции в автоматических системах пожаротушения",
      text: "В данной статье мы рассмотрим типы систем пожаротушения и какую роль в них играют насосные станции.  "
    },
  ]

section.past-event.page-section.page-section--inner#old-events
  .container
    +section-header("ПРОШЕДШИЕ МЕРОПРИЯТИЯ", 37)
    +events-list(pastEvents)
    a.past-event__link.button.button--medium.button--bordered(href="#")
      | СМОТРЕТЬ ВСЕ
