-
  const useful = [
    {
      title: "Слушатель",
      icon: "useful-tab-icon-1",
      active: true,
      list: [
        {
          icon: "useful-1",
          title: "Возможность получить новые знания.",
          text: "За счет выступления эксперта вашей компании в роли спикера"
        },
        {
          icon: "useful-2",
          title: "Услышать интересные кейсы",
          text: "Продемонстрируйте возможности своего продукта вашей целевой аудитории"
        },
        {
          icon: "useful-3",
          title: "Пообщаться с партнерами и новыми участниками мероприятия",
          text: "На мероприятиях у вас появится возможность встретить новых клиентов и партнеров"
        },
        {
          icon: "useful-4",
          title: "Познакомиться с новыми технологиями",
          text: "Возможность участия в сессии вопрос-ответ со спикерами в режиме реального времени"
        },
        {
          icon: "useful-5",
          title: "Расширить рынок партнерства",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
        {
          icon: "useful-5",
          title: "Задать вопросы экспертам рынка",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
      ]
    },
    {
      title: "Докладчик",
      icon: "useful-tab-icon-2",
      list: [
        {
          icon: "useful-1",
          title: "Увеличьте узнаваемость компании - выступление спикера от компании",
          text: "За счет выступления эксперта вашей компании в роли спикера"
        },
        {
          icon: "useful-2",
          title: "Демонстрация возможностей и оборудования целевой аудитории",
          text: "Продемонстрируйте возможности своего продукта вашей целевой аудитории"
        },
        {
          icon: "useful-3",
          title: "Возможность встретить новых клиентов и партнеров",
          text: "На мероприятиях у вас появится возможность встретить новых клиентов и партнеров"
        },
        {
          icon: "useful-4",
          title: "Видео с докладом размещается на Youtube и Rutube",
          text: "Возможность участия в сессии вопрос-ответ со спикерами в режиме реального времени"
        },
        {
          icon: "useful-5",
          title: "Возможность участия в сессии вопрос-ответ (блиц раунд) со спикерами в режиме реального времени",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
      ]
    },
    {
      title: "Спонсор",
      icon: "useful-tab-icon-3",
      list: [
        {
          icon: "useful-1",
          title: "Выступление спикера от компании",
          text: "За счет выступления эксперта вашей компании в роли спикера"
        },
        {
          icon: "useful-2",
          title: "Видео с докладом размещается на Youtube и Rutube",
          text: "Продемонстрируйте возможности своего продукта вашей целевой аудитории"
        },
        {
          icon: "useful-3",
          title: "Общее видео с мероприятия размещается с использованием логотипа спонсора, распространяется посредством пост-релиза в он-лайн СМИ",
          text: "На мероприятиях у вас появится возможность встретить новых клиентов и партнеров"
        },
        {
          icon: "useful-4",
          title: "Размещения статей о Спонсоре на официальном сайте flamax.ru;",
          text: "Возможность участия в сессии вопрос-ответ со спикерами в режиме реального времени"
        },
        {
          icon: "useful-5",
          title: "Объявление о Спонсоре при публикации любых материалов о проведении бизнес-мероприятия FLAMAX Business",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
        {
          icon: "useful-5",
          title: "Распространять информацию как о самом факте спонсорства, так и о субъекте спонсорской деятельности",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
        {
          icon: "useful-5",
          title: "Распространение информации и использования логотипа Спонсора в элементах декора площадки и в публикациях для интернет-изданий, в том числе на интернет-странице мероприятия",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
        {
          icon: "useful-5",
          title: "Распространять информацию о Спонсоре в интервью для региональных, федеральных и международных средств массовой информации",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
        {
          icon: "useful-5",
          title: "Распространение информационно-рекламных материалов Спонсора в раздаточном материале для всех участников мероприятия посредством e-mail рассылки",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
        {
          icon: "useful-5",
          title: "Дополнительная рекламный трафик на страницу спонсора",
          text: "Видео с докладом размещается на Youtube и Rutube"
        },
      ]
    },
  ]

section.useful.page-section
  .container
    h2.useful__title
      | ДЛЯ КОГО БУДУТ ПОЛЕЗНЫ МЕРОПРИЯТИЯ?
    +tabs-block(useful)
