section.contacts.page-section--small-margin
  .wide-container
    .contacts__wrapper
      .contacts__content
        h2.contacts__title
          | КОНТАКТЫ
        p.contacts__text
          | По возникшим вопросам обращайтесь к организатору мероприятия, Бочаровой Екатерине
        .contacts__phone
          a.contacts__phone-link(href="tel:+74956496269")
            | +7 495 649-62-69
          span.contacts__phone-advance
            | доб. 805
        a.contacts__email(href="mailto:e.bocharova@flamax.ru")
          | e.bocharova@flamax.ru
        a.contacts__path.button.button--medium.button--red-bordered(href="#")
          | КАК ДОБРАТЬСЯ?
      .contacts__map#map(
        data-api-key="ваш API-ключ"
        data-zoom=10
        data-coordinates="55.87685976670169,37.58517551982119"
        data-marker="assets/images/marker.svg"
        data-hint="г. Москва, Алтуфьевское шоссе, д.44"
      )
