-
  const menu = [
    {
      text: "РЕЗЕРВУАРЫ",
      link: "",
    },
    {
      text: "НАСОСНЫЕ СТАНЦИИ",
      link: "",
    },
    {
      text: "ОТЗЫВЫ",
      link: "",
    },
    {
      text: "СЕРВИС",
      link: "",
    },
    {
      text: "НАШИ РАБОТЫ",
      link: "",
    },
    {
      text: "ИНТЕРНЕТ-МАГАЗИН",
      link: "",
    },
  ]

header.header
  .wide-container
    nav.header__nav
      a.header__logo(href="index.html").link
        +icon-multi('logo')
      ul.header__menu
        for item in menu
          li.header__menu-item
            a.header__menu-link.link(href="#")= item.text
      .header__right
        a.header__phone(href="tel:88802006269").link
          +icon-multi('phone-icon')
          span 8 880 200 62 69
        button.header__registration.button.button--big.button--red-bordered(data-path="registration")
          | РЕГИСТРАЦИЯ
