-
  const events = [
    {
      img: "event-1.jpg",
    }
  ]

-
  const eventsNavigation = [
    {text: "FLAMAX BUSINESS", active: true},
    {text: "ПРОШЕДШИЕ МЕРОПРИЯТИЕ"},
    {text: "ПРОШЕДШИЕ МЕРОПРИЯТИЕ"},
    {text: "УЧАСТНИКАМ"},
    {text: "КОНТАКТЫ"},
  ]

section.events.page-section.js-intro-block
  header.events__header
    .wide-container
      +page-navigation(
        "ВСЕ МЕРОПРИЯТИЯ",
        [["Главная", "index.html"],["FLAMAX BUSINESS", "index.html"], ["ВСЕ МЕРОПРИЯТИЯ", "#"]]
      )
  .wide-container
    .events__body
      +navigation-list(eventsNavigation)
      .events__content
        +events-list(events)
        .events__pagination
          .events__pagination-numbers
            - var i = 1;
            while i < 11
              a.events__pagination-number(href="#")= i++
          .events__pagination-arrows
            button.events__pagination-arrow
              +icon-multi('slider-arrow')
            button.events__pagination-arrow
              +icon-multi('slider-arrow')
