-
  const events = [
    {
      img: "event-1.jpg",
      title: "Кондуктометрические и гидростатические датчики уровня воды в резервуарах FLAMAX",
      text: "В стандартных резервуарах FLAMAX для выполнения различных технологических процессов, связанных с эксплуатацией резервуара, необходимо фиксировать определенные уровни наполнения емкостей"
    },
    {
      img: "event-2.jpg",
      title: "Насосные станции в автоматических системах пожаротушения",
      text: "В данной статье мы рассмотрим типы систем пожаротушения и какую роль в них играют насосные станции."
    },
    {
      img: "event-3.jpg",
      title: "Насосные станции в автоматических системах пожаротушения",
      text: "В данной статье мы рассмотрим типы систем пожаротушения и какую роль в них играют насосные станции."
    },
    {
      img: "event-1.jpg",
      title: "Кондуктометрические и гидростатические датчики уровня воды в резервуарах FLAMAX",
      text: "В стандартных резервуарах FLAMAX для выполнения различных технологических процессов, связанных с эксплуатацией резервуара, необходимо фиксировать определенные уровни наполнения емкостей",
      tagMod: "tag--white"
    },
    {
      img: "event-2.jpg",
      title: "Насосные станции в автоматических системах пожаротушения",
      text: "В данной статье мы рассмотрим типы систем пожаротушения и какую роль в них играют насосные станции.",
      tagMod: "tag--white"
    },
    {
      img: "event-3.jpg",
      title: "Насосные станции в автоматических системах пожаротушения",
      text: "В данной статье мы рассмотрим типы систем пожаротушения и какую роль в них играют насосные станции.",
      tagMod: "tag--white"
    },
  ]

-
  const eventsNavigation = [
    {text: "FLAMAX BUSINESS", active: true},
    {text: "ПРЕДСТОЯЩИЕ МЕРОПРИЯТИЯ"},
    {text: "ПРОШЕДШИЕ МЕРОПРИЯТИЯ"},
    {text: "УЧАСТНИКАМ"},
    {text: "КОНТАКТЫ"},
  ]

section.events.page-section.js-intro-block
  header.events__header
    .wide-container
      +page-navigation(
        "ВСЕ МЕРОПРИЯТИЯ",
        [["Главная", "index.html"],["FLAMAX BUSINESS", "index.html"], ["ВСЕ МЕРОПРИЯТИЯ", "#"]]
      )
  .wide-container
    .events__body
      .events__nav
        +navigation-list(eventsNavigation).js-sticky-widget
      .events__content
        +events-list(events, "events-list--main")
        .events__pagination
          .events__pagination-numbers
            - var i = 1;
            while i < 11
              a.events__pagination-number(class=`${i === 1 ? 'active' : ''}${i > 4 ? ' hide' : ''}` href="#")= i++
          .events__pagination-arrows
            a.events__pagination-arrow.events__pagination-arrow--disabled(href="#")
              +icon-multi('slider-arrow')
            a.events__pagination-arrow(href="#")
              +icon-multi('slider-arrow')
