-
  const eventsGallery = [
    {img: "event-gallery-1.jpg"},
    {img: "event-gallery-2.jpg"},
    {img: "event-gallery-1.jpg"},
  ]

section.events-gallery.page-section.page-section--inner
  .container
    +section-header("ФОТООТЧЕТ с&nbsp;мероприятия", false, true)
    .events-gallery__slider.swiper
      .swiper-wrapper
        for item in eventsGallery
          .events-gallery__slide.swiper-slide(data-fancybox="1" data-src=`assets/images/${item.img}`)
            +pictureLazy(item.img)
      +slider-navigation('slider-navigation--white-color slider-navigation--large')
      .swiper-scrollbar
    a.events-gallery__link.button.button--medium.button--bordered(href="#")
      | ВСЕ ФОТОГРАФИИ
