-
  const eventsSpeakers = [
    {img: "events-speakers-1.jpg"},
    {img: "events-speakers-2.jpg"},
    {img: "events-speakers-1.jpg"},
  ]

section.events-speakers.page-section
  .container-block
    .events-speakers__wrapper.js-double-slider-container
      .events-speakers__content-slider-container
        h2.events-speakers__title
          | СПИКЕРЫ И&nbsp;УЧАСТНИКИ
        .events-speakers__content-slider.swiper.js-double-slider-thumb
          .swiper-wrapper
            for item in eventsSpeakers
              .events-speakers__content-slide.swiper-slide
                span.events-speakers__slide-position
                  | Генеральный директор
                h3.events-speakers__slide-title
                  | Зиганшин Фиргат Вагизович
                .events-speakers__slide-text
                  p
                    | Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста.
                a.events-speakers__slide-link(href="#")
                  +icon-multi("presentation-icon")
                  span Презентация спикера
      .events-speakers__img-slider-container
        .events-speakers__img-slider.swiper.js-double-slider-main
          .swiper-wrapper
            for item in eventsSpeakers
              .events-speakers__img-slide.swiper-slide(data-fancybox="2" data-src=`assets/images/${item.img}`)
                +pictureLazy(item.img, "Фото спикера")
      +slider-navigation("slider-navigation--bordered")
