.header {
  padding: 2.4rem 0;

  &__nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  }

  &__logo {
    grid-column: span 1;
    width: 10.6rem;
    height: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    margin-right: auto;
    grid-column: span 4;
  }

  &__menu-item {
    margin-right: 2.4rem;

    font: var(--text-t3);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__right {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    grid-column: span 2;
  }

  &__search-button {
    display: block;
    margin-right: 3rem;

    svg {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  &__phone {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;

    font: var(--text-t3);
    text-transform: uppercase;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__button {
    margin-right: 1.2rem;
  }

  &__burger-button {
    position: relative;

    &::before, &::after {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 2rem;
      height: 2px;

      background-color: var(--black-color);
    }

    &::before {
      transform: translate(-50%, -200%);
    }

    &::after {
      transform: translate(-50%, 100%);
    }
  }
}
