.header {
  padding: 2.4rem 0;

  @include mq('custom', 'max', 1024) {
    padding: 2rem 0;
  }

  @include mq('custom', 'max', 768) {
    padding: 1.6rem 0;
  }

  @include mq('custom', 'max', 640) {
    padding: 1.2rem 0;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;

    @include mq('custom', 'max', 1099) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__logo {
    grid-column: span 1;
    width: 10.6rem;
    height: 1.5rem;

    @include mq('custom', 'max', 640) {
      width: 7.8rem;
      height: 1.1rem;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__menu {
    display: flex;
    margin-right: auto;
    grid-column: span 4;

    @include mq('custom', 'max', 1099) {
      display: none;
    }
  }

  &__menu-item {
    margin-right: 2.4rem;

    font: var(--text-t3);
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__right {
    display: flex;
    align-content: center;
    grid-column: span 3;
  }

  &__search-button {
    display: block;
    margin-right: 3rem;

    svg {
      width: 1.3rem;
      height: 1.3rem;
    }
  }

  &__phone {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    margin-right: 1.5rem;

    font: var(--text-t3);
    text-transform: uppercase;

    svg {
      width: 1rem;
      height: 1rem;

      @include mq('custom', 'max', 640) {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

    span {
      @include mq('custom', 'max', 640) {
        display: none;
      }
    }
  }

  &__button {
    margin-right: 1.2rem;

    @include mq('custom', 'max', 640) {
      display: none;
    }
  }

  &__burger-button {
    position: relative;

    &::before, &::after {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 2rem;
      height: 2px;

      background-color: var(--black-color);

      @include mq('custom', 'max', 1024) {
        width: 1.8rem;
      }

      @include mq('custom', 'max', 768) {
        width: 1.6rem;
      }

      @include mq('custom', 'max', 640) {
        width: 1.4rem;
      }
    }

    &::before {
      transform: translate(-50%, -200%);
    }

    &::after {
      transform: translate(-50%, 100%);
    }
  }
}
