.section-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10rem;

  @include mq('custom', 'max', 1024) {
    margin-bottom: 7.5rem;
  }

  @include mq('custom', 'max', 768) {
    margin-bottom: 5rem;
  }

  @include mq('custom', 'max', 640) {
    margin-bottom: 2.4rem;
  }

  &__title {
    @extend .section-title;

    margin-right: 1rem;

    font: var(--title-h2);
    text-transform: uppercase;
  }

  &__link {
    flex-shrink: 0;
    height: 5.2rem;

    @include mq('custom', 'max', 640) {
      height: 4rem;
      padding: 0.2rem 1rem;
    }
  }
}
