@import "./helpers/**/*";
/* stylelint-disable no-invalid-position-at-import-rule */
:root {
  /* Colors */
  --primary-color: #BE3D3D;
  --secondary-color: #1FB6DE;
  --black-color: #333333;
  --grey-color: #C8C8C8;
  --black-transparent-color: rgba(33, 30, 30, 0.6);
  --stroke-black-color: #211E1E;
  --stroke-grey-color: rgba(0, 0, 0, 0.15);

  /* Layout containers */
  --max-container-width: 120rem;
  --max-wide-container-width: 160rem;
  --max-narrow-container-width: 110rem;
  --content-padding: 4rem;

  /* Font Family */
  --main-ff: 'Intro Bold', sans-serif;
  --secondary-ff: 'Intro Book', sans-serif;

  /* Font Weight */
  --regular: 400;

  /* Text */
  --text-t1: var(--regular) 1.7rem/2.2rem var(--secondary-ff);
  --text-t2: var(--regular) 1.5rem/135% var(--secondary-ff);
  --text-t3: var(--regular) 1.2rem/100% var(--secondary-ff);
  --text-t4: var(--regular) 1rem/100% var(--secondary-ff);

  /* Titles */
  --title-h1: var(--regular) 10rem/90% var(--main-ff);
  --title-h2: var(--regular) 4.2rem/100% var(--main-ff);
  --title-h3: var(--regular) 2.8rem/5.3rem var(--main-ff);
  --title-h4: var(--regular) 2.5rem/110% var(--main-ff);
  --title-h5: var(--regular) 2rem/110% var(--main-ff);
  --title-h6: var(--regular) 1.7rem/110% var(--main-ff);

  /* Other Typography */
  --other-1: var(--regular) 5.6rem/100% var(--secondary-ff);
  --other-2: var(--regular) 3.2rem/100% var(--secondary-ff);
}

@include mq('custom', 'max', 1024) {
  :root {
    /* Layout containers */
    --content-padding: 3rem;

    /* Text */
    --text-t1: var(--regular) 1.5rem/2.2rem var(--secondary-ff);
    --text-t2: var(--regular) 1.4rem/135% var(--secondary-ff);

    /* Titles */
    --title-h1: var(--regular) 7.5rem/90% var(--main-ff);
    --title-h2: var(--regular) 3rem/100% var(--main-ff);
    --title-h3: var(--regular) 2.2rem/100% var(--main-ff);
    --title-h4: var(--regular) 2.2rem/110% var(--main-ff);
    --title-h5: var(--regular) 2.2rem/110% var(--main-ff);
    --title-h6: var(--regular) 1.5rem/110% var(--main-ff);

    /* Other Typography */
    --other-1: var(--regular) 4.4rem/100% var(--secondary-ff);
    --other-2: var(--regular) 2.8rem/100% var(--secondary-ff);
  }
}

@include mq('custom', 'max', 640) {
  :root {
    /* Layout containers */
    --content-padding: 1.8rem;

    /* Text */
    --text-t1: var(--regular) 1.4rem/2.2rem var(--secondary-ff);
    --text-t2: var(--regular) 1.3rem/135% var(--secondary-ff);

    /* Titles */
    --title-h1: var(--regular) 4.8rem/90% var(--main-ff);
    --title-h2: var(--regular) 2rem/115% var(--main-ff);
    --title-h3: var(--regular) 1.6rem/100% var(--main-ff);
    --title-h4: var(--regular) 1.6rem/110% var(--main-ff);
    --title-h5: var(--regular) 1.6rem/110% var(--main-ff);
    --title-h6: var(--regular) 1.4rem/110% var(--main-ff);

    /* Other Typography */
    --other-1: var(--regular) 3.2rem/100% var(--secondary-ff);
    --other-2: var(--regular) 2.4rem/100% var(--secondary-ff);
  }
}

$minWidth: 375;
$maxWidth: 1680; // Ширина макета
$base-transition-time: 0.3s;
$base-transition-easing: ease;

$overlay-color: rgba(0, 0, 0, 0.5);

$modal-bg-color: white;

@import "./vendor/**/*";
@import "./settings/**/*";
@import "./UI/**/*";
@import "./blocks/**/*";
@import "./pages/**/*";
