.events-program {
  &__title {
    margin-bottom: 7rem;
    @extend .section-title;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 5.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.4rem;
    }
  }

  &__accordion {
    padding: 3rem 0;
    border-bottom: 2px solid #312D2D;

    @include mq('custom', 'max', 1024) {
      padding: 2.4rem 0ex;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.2rem 0;
    }

    @include mq('custom', 'max', 640) {
      padding: 1.8rem 0;
    }

    &.active {
      .events-program__accordion-button::after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }

  &__accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
  }

  &__accordion-title {
    margin-right: 2rem;
    flex-shrink: 5;

    font: var(--title-h3);
  }

  &__accordion-header-right {
    display: flex;
    align-items: center;
    max-width: 65.4rem;
    flex-grow: 1;
  }

  &__accordion-meta {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;

    @include mq('custom', 'max', 768) {
      display: none;
    }

    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  &__accordion-time {
    margin-left: auto;
    margin-right: 3rem;

    @include mq('custom', 'max', 1024) {
      margin-right: 2.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-right: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-right: 1.6rem;
    }
  }

  &__accordion-button {
    width: 1.6rem;
    height: 1.6rem;

    flex-shrink: 0;

    opacity: 0.25;

    @include mq('custom', 'max', 640) {
      width: 2rem;
      height: 2rem;
    }

    &::before, &::after {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      height: 2px;

      background-color: #000;

      transition: 0.3s;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__accordion-content {
    height: 0;
    overflow: hidden;

    & > *:first-child {
      margin-top: 4rem;

      @include mq('custom', 'max', 640) {
        margin-top: 3.2rem;
      }
    }
  }

  &__accordion-list {
    @include mq('custom', 'max', 768) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2.5rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 2rem;
    }
  }

  &__accordion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq('custom', 'max', 768) {
      flex-direction: column;
      align-items: stretch;
    }

    &:last-child {
      align-items: flex-end;

      @include mq('custom', 'max', 768) {
        align-items: stretch;

        .events-program__accordion-item-content {
          border-bottom: 0;
        }
      }

      .events-program__accordion-item-content {
        padding-bottom: 0;
      }
    }
  }

  &__accordion-img {
    width: 18rem;
    height: 13rem;
    margin: 1.6rem 3rem 1.6rem 0;

    border-radius: 10rem;
    overflow: hidden;

    @include mq('custom', 'max', 768) {
      width: 34rem;
      height: 22.6rem;
      margin: 0 0 1.6rem;

      border-radius: 100rem;
    }

    @include mq('custom', 'max', 380) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__accordion-item-content {
    align-self: stretch;
    max-width: 65.4rem;
    padding: 3rem 4.6rem 3rem 0;
    flex-grow: 1;

    border-top: 1px solid var(--stroke-grey-color);

    @include mq('custom', 'max', 768) {
      max-width: none;
      padding: 0 0 2.5rem;

      border-top: 0;
      border-bottom: 1px solid var(--stroke-grey-color);
    }

    @include mq('custom', 'max', 640) {
      padding-bottom: 2rem;
    }
  }

  &__accordion-content-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__accordion-content-header-left {
    margin-bottom: 3.6rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }
  }

  &__accordion-time, &__accordion-item-time {
    flex-shrink: 0;
  }

  &__accordion-subtitle {
    margin-bottom: 0.4rem;

    font: var(--title-h6);
    font-size: 16px;
  }

  &__accordion-position {
    font: var(--text-t2);
    font-size: 16px;
    color: #A5A6A8;
  }

  &__accordion-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 47.1rem;

    font: var(--text-t2);
    font-size: 16px;
  }
}
